<section id="introduction">

	<div class="introduction screenWidth">
		
		<!-- Header -->
		<div class="introduction-header">
			<ul class="introduction-header-group screenWidth">
				<li class="introduction-header-group-item">
					<a href="" ng-click="scrollTo('designing')">Проектування</a>
				</li>
				<li class="introduction-header-group-item">
					<a href="" ng-click="scrollTo('selling')">Продаж</a>
				</li>
				<li class="introduction-header-group-item">
					<a href="" ng-click="scrollTo('assembling')">Монтаж</a>
				</li>
				<li class="introduction-header-group-item">
					<a href="" ng-click="scrollTo('service')">Сервіс</a>
				</li>
				<li class="introduction-header-group-item">
					<a href="" ng-click="scrollTo('greenTariff')">Підключення до зеленого тарифу</a>
				</li>
			</ul>
		</div>
		
		<!-- Designing -->
		<div id="designing" class="introduction-content">
			<h3 class="introduction-content-title">ПРОЕКТУВАННЯ</h3>
			<img class="introduction-content-image" src="images/introduction/image1.jpg" alt="image" width="200" height="auto">
			<p>
				Наш інженер, після проведення переговорів з Вами, протягом кількох найближчих днів відвідає Вас з метою ближче подивитися
				розташування вашого будинку і зняти точні розміри даху або конструкцій, на яких в майбутньому будуть
				розташовані сонячні панелі. Отримавши ці дані наші інженери-проектувальники спроектують вашу сонячну електростанцію.
			</p>
		</div>
		
		<!-- Selling -->
		<div id="selling" class="introduction-content">
			<h3 class="introduction-content-title">ПРОДАЖ</h3>
			<img class="introduction-content-image" src="images/introduction/image2.jpg" alt="image" width="200" height="auto">
			<p>
				Підписаний Договір забезпечує Вам гарантію дотримання термінів виконання робіт, обсяг робіт і якість. Так само обумовлюються варіанти оплати з урахуванням ваших побажань і можливостей.
			</p>
		</div>
		
		<!-- Assembling -->
		<div id="assembling" class="introduction-content">
			<h3 class="introduction-content-title">МОНТАЖ</h3>
			<img class="introduction-content-image" src="images/introduction/image3.jpg" alt="image" width="200" height="auto">
			<p>
				В основному, роботи по установці сонячних електростанцій займають від 3 до 5 днів. Ми виберемо найбільш підходящі для вас дні і виконаємо монтаж системи. Всі роботи будуть виконані з дотриманням правил з охорони праці та електробезпеки.
			</p>
		</div>
		
		<!-- Service -->
		<div id="service" class="introduction-content">
			<h3 class="introduction-content-title">СЕРВІС</h3>
			<img class="introduction-content-image" src="images/introduction/image4.jpg" alt="image" width="200" height="auto">
			<p>Компанія «Енергія сонця. Альтернативна енергетика» забезпечує обслуговування обладнання що включає:</p>
			<ul id="introductionServiceList">
				<li>гарантійний ремонт</li>
				<li>сервісне обслуговування та підтримка обладнання</li>
				<li>підтримка партнерів та кінцевих споживачів</li>
				<li>поставка запасних частин, комплектуючих</li>
			</ul>
		</div>
		
		<!-- Connection to the green tariff -->
		<div id="greenTariff" class="introduction-content">
			<h3 class="introduction-content-title">ПІДКЛЮЧЕННЯ ДО ЗЕЛЕНОГО ТАРИФУ</h3>
			<img class="introduction-content-image" src="images/introduction/image5.png" alt="image" width="200" height="auto">
			<p>Зелений тариф - спеціальний тариф, по якому держава закуповує електроенергію у приватних осіб, згенеровану сонячними та вітровими електростанціями.
			Максимальна потужність приватної електростанції не повинна перевищувати 30 кВт. Для отримання "Зеленого" тарифу непотрібно отримувати ліцензію та інші
			дозвільні документи.</p>
			<p>Наша компанія візьме на себе всі завдання для підключення "Зеленого тарифу", завдяки чому ви зможете економити на оплаті за електрику, і більш ніж на 50% 
			забезпечити свій будинок екологічною енергією! Крім того, ви отримаєте унікальну можливість реалізовувати надлишок енергії в мережу і отримувати від цього прибуток!</p>
			
		</div>
		
	</div>

</section>